legacy/testing-kits/**/client/
legacy/testing-kits/**/*.zip
legacy/testing-kits/**/*.7z
legacy/testing-kits/**/*.rar
legacy/testing-kits/**/*.sha256
legacy/testing-kits/**/.DS_Store

artifacts/
*.msix
*.appx
*.cer
*.pfx

.vs/
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
